In [1]:
from data_prep_utils import *
from plot_prep_utils import *
import pandas as pd

dfe = get_eigenphi_march_blocks_with_to_and_from()
dft = get_titan_march_blocks_with_to_and_from()

In [ ]:
top_50_rewards = dfe['builder_reward'].nlargest(50)

# 计算titan中每个Top 50 builder_reward值大于该值的行数
counts_greater_than_each = {(reward): (dft['builder_reward'] > reward).sum() for reward in top_50_rewards}

for reward, count in counts_greater_than_each.items():
    print(f"Top {reward} reward: {count} entries in 'titan' are greater")
    # Result:
    # Top 0.8940509081507859 reward: 635 entries in 'titan' are greater
    # Top 0.5914029142684857 reward: 1288 entries in 'titan' are greater
    # Top 0.4111837835087299 reward: 2540 entries in 'titan' are greater

In [14]:
dft_top_txs = dft[dft['builder_reward']>0.5914029142684857]
# Read the previous all txs from top To Addresses in to df_top_to_txs
dft_top_to_txs = pd.read_csv('TxsAll.csv')
# Go thru rows of dft_top_txs to see if each of them is in df_top_to_txs, if so, copy the data in the row with the same tx hash in df_top_to_txs to df_top_txs


# Check for duplicate 'transaction_hash' entries in 'dft_top_to_txs'
duplicates = dft_top_to_txs['transaction_hash'].duplicated().sum()
print(f"Number of duplicate transaction hashes in dft_top_to_txs: {duplicates}")

# Also, check in 'dft_top_txs'
duplicates_top_txs = dft_top_txs['transaction_hash'].duplicated().sum()
print(f"Number of duplicate transaction hashes in dft_top_txs: {duplicates_top_txs}")


dft_top_to_txs = dft_top_to_txs.drop_duplicates(subset=['transaction_hash'], keep='first')


# Perform a left merge on the dataframes based on 'transaction_hash'
# The suffixes parameter will help differentiate columns with the same name in both dataframes
dft_result = pd.merge(dft_top_txs, dft_top_to_txs, on='transaction_hash', how='left', suffixes=('', '_right'))

# Drop duplicated columns keeping the '_right' versions where not NaN
for col in dft_top_txs.columns:
    if col in dft_top_to_txs.columns and col != 'transaction_hash':
        # Fill NaN values in '_right' columns with values from the original columns
        dft_result[col] = dft_result[col + '_right'].combine_first(dft_result[col])

# Drop the temporary '_right' columns
# dft_result.drop(columns=[col + '_right' for col in dft_top_txs.columns if col in dft_top_to_txs.columns], inplace=True)

# This DataFrame now includes:
# All columns from dft_top_to_txs
# Values from dft_top_txs where no matching transaction_hash was found in dft_top_to_txs
print(dft_result)


dft_result.to_csv('result_txs.csv')

Number of duplicate transaction hashes in dft_top_to_txs: 42
Number of duplicate transaction hashes in dft_top_txs: 0
                                       transaction_hash  block_number  \
0     0x541efff25a29802ec982c3af9a797540fe2122d193a1...      19339087
1     0xac6ec592f078dc1fcc182befe30252833a98656b6f1b...      19339689
2     0x4d64d8de19976667d0287c996eb1586a541cdeca6aae...      19340233
3     0x17c0b26696c98f507927896a374d3b071bc8085b7aa9...      19340522
4     0x7ec95dfc1132bd5395cd85f9cbd23e35c7d11e33f8ce...      19340522
...                                                 ...           ...
1283  0xaeab2a7a9f6b2c5059c223a19bf2012e5c62f81935c5...      19555213
1284  0xb957c3258148aeba194776be02a0736a74215c6a9ade...      19555213
1285  0xc46063351f0347121cde10d1bf0b7a0a9aca21cf3562...      19555213
1286  0xe730c835919033431702f2176881627026d76d38f61a...      19555213
1287  0xea0cbd35d640a47105bb4b4e677a4a6f5e6eec8d0b57...      19555213

      builder_reward  ethusd_price  \
0                  1          3384
1                  1          3426
2                  1          3430
3                  1          3432
4                  4          3435
...              ...           ...
1283               1           NaN
1284               1           NaN
1285               1           NaN
1286               1           NaN
1287               1           NaN

                                    from_address  \
0     0x4f80b2cd1f550f81581c15f690bdd623f3824c86
1     0xae2fc483527b8ef99eb5d9b44875f005ba1fae13
2     0xfc9928f6590d853752824b0b403a6ae36785e535
3     0xb58e613dc35f1dee8ba0c92b4312c746eed1fce1
4     0xae2fc483527b8ef99eb5d9b44875f005ba1fae13
...                                          ...
1283  0x5fd515073f946f07d7c0e684cee0e0081add6f58
1284  0x85a52ed0499ced48f2d67413b30d3ac4f3a5d97a
1285  0x71aadb9fa5b76d53c60ab045c6cd7a69a300c659
1286  0xed02a98578610dcc5c52b12bcaad2313b01b8aab
1287  0xcd19e2ef7324afa76f0ccf8f07b94149c6d6e405

                                      to_address  block_number_right  \
0     0xe2cd944360d75bf2c323e4ab8b64ea3bbc358181                 NaN
1     0x6b75d8af000000e20b7a7ddf000ba900b4009a80                 NaN
2     0x00000000009e50a7ddb7a7b0e2ee6604fd120e49                 NaN
3     0x2f7c1f1460aed2594a9977c58fa31c465591b287                 NaN
4     0x6b75d8af000000e20b7a7ddf000ba900b4009a80                 NaN
...                                          ...                 ...
1283  0x3328f7f4a1d1c57c35df56bbf0c9dcafca309c49                 NaN
1284  0x3328f7f4a1d1c57c35df56bbf0c9dcafca309c49                 NaN
1285  0x3328f7f4a1d1c57c35df56bbf0c9dcafca309c49                 NaN
1286  0x3328f7f4a1d1c57c35df56bbf0c9dcafca309c49                 NaN
1287  0x3328f7f4a1d1c57c35df56bbf0c9dcafca309c49                 NaN

      builder_reward_right  ethusd_price_right from_address_right  ...  \
0                      NaN                 NaN                NaN  ...
1                      NaN                 NaN                NaN  ...
2                      NaN                 NaN                NaN  ...
3                      NaN                 NaN                NaN  ...
4                      NaN                 NaN                NaN  ...
...                    ...                 ...                ...  ...
1283                   NaN                 NaN                NaN  ...
1284                   NaN                 NaN                NaN  ...
1285                   NaN                 NaN                NaN  ...
1286                   NaN                 NaN                NaN  ...
1287                   NaN                 NaN                NaN  ...

     Unnamed: 17 4 More Transfers? Unnamed: 19  Unnamed: 20 Unnamed: 21  \
0            NaN               NaN         NaN          NaN         NaN
1            NaN               NaN         NaN          NaN         NaN
2            NaN               NaN         NaN          NaN         NaN
3            NaN               NaN         NaN          NaN         NaN
4            NaN               NaN         NaN          NaN         NaN
...          ...               ...         ...          ...         ...
1283         NaN               NaN         NaN          NaN         NaN
1284         NaN               NaN         NaN          NaN         NaN
1285         NaN               NaN         NaN          NaN         NaN
1286         NaN               NaN         NaN          NaN         NaN
1287         NaN               NaN         NaN          NaN         NaN

      Beaconcha.in Unnamed: 23  Unnamed: 24 Unnamed: 25 Unnamed: 26
0              NaN         NaN          NaN         NaN         NaN
1              NaN         NaN          NaN         NaN         NaN
2              NaN         NaN          NaN         NaN         NaN
3              NaN         NaN          NaN         NaN         NaN
4              NaN         NaN          NaN         NaN         NaN
...            ...         ...          ...         ...         ...
1283           NaN         NaN          NaN         NaN         NaN
1284           NaN         NaN          NaN         NaN         NaN
1285           NaN         NaN          NaN         NaN         NaN
1286           NaN         NaN          NaN         NaN         NaN
1287           NaN         NaN          NaN         NaN         NaN

[1288 rows x 32 columns]