In [2]:
from data_prep_utils import *
from plot_prep_utils import *
import pandas as pd

df_all = get_raw_block_data_with_winning_bids()
dfe = get_eigenphi_march_blocks_with_to_and_from()
dft = get_titan_march_blocks_with_to_and_from()

In [3]:
print(dft.shape[0])

8306886

In [6]:
# add block_datetime to dft
df_all_date = df_all[['block_datetime', 'block_number']]

print(dft.shape[0])
print(dft.head)
dft_withdatetime = pd.merge(dft, df_all_date, on='block_number', how='inner')
dft_withdatetime['block_datetime'] = pd.to_datetime(dft_withdatetime['block_datetime'])

print(dft_withdatetime.shape[0])
print(dft_withdatetime.head)

8306886
<bound method NDFrame.head of                                           transaction_hash  block_number  \
0        0x0005a8f24d9b02a01c138b2917c07e65bb531a889891...      19339077
1        0x00120fdeb1a37a89bf0b6ff6a725827e532e20132e00...      19339085
2        0x002922ee2df0eec3144d1f59d18c5d66780bb171bd67...      19339027
3        0x0066758e9decf152a045d6ac223cc39b9c1610a6340f...      19339031
4        0x006731de31cfd54e3e36fb94f8e0b15d4d9424b44b51...      19339020
...                                                    ...           ...
8306881  0xff198731dda378ef8d5e7c4da11e49dc99bd9004015a...      19557274
8306882  0xff3089907407feeb49150dbd0b0545f2305a9bbcbed6...      19557278
8306883  0xff349681e982901d4767ca14cce7adc400eae3717472...      19557275
8306884  0xffa0dd4fca6094e0d853a2e83bdfda43509969e2c546...      19557278
8306885  0xffe6532e94a3e4cf88848c07da08d44b35b8b10b80a2...      19557275

         builder_reward  ethusd_price  \
0                     0           NaN
1                     0           NaN
2                     0           NaN
3                     0           NaN
4                     0           NaN
...                 ...           ...
8306881               0           NaN
8306882               0           NaN
8306883               0           NaN
8306884               0           NaN
8306885               0           NaN

                                       from_address  \
0        0x3170ae5782748d3f464e719a9370d41500092c09
1        0xf368cf3c3a556cd3dbde26e93f7feb8f2d0ead87
2        0xc5a93444cc4da6efb9e6fc6e5d3cb55a53b52396
3        0xfca72f215c33ee3121af6818e4e8522e6383b49a
4        0x8814fec49bfa38c49a93a8c0c431394b4008f106
...                                             ...
8306881  0x808d0aee8db7e7c74faf4b264333afe8c9ccdba4
8306882  0xc76ebabf2389cea2c57559f4896e1006faa7b94f
8306883  0x6ece176277feccfab599e6833d900d9a6e27f427
8306884  0x58edf78281334335effa23101bbe3371b6a36a51
8306885  0x547ac08a9adb39f16af4be456b3ccbef0ff833eb

                                         to_address
0        0x15e6e0d4ebeac120f9a97e71faa6a0235b85ed12
1        0x305eb7c6e3491956da42d0062f04bbc9381d9c77
2        0x257af24f95f42162f5866e93028aa8940d5b288e
3        0x0ec68c5b10f21effb74f2a5c61dfe6b08c0db6cb
4        0xdac17f958d2ee523a2206206994597c13d831ec7
...                                             ...
8306881  0xa3a9dc95489ccefb93c506963b105bc65b288735
8306882  0xf3de3c0d654fda23dad170f0f320a92172509127
8306883  0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad
8306884  0x8b9b95292f890df47fff5ac9cbe93d5fc242bd51
8306885  0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad

[8306886 rows x 6 columns]>
8306886
<bound method NDFrame.head of                                           transaction_hash  block_number  \
0        0x0005a8f24d9b02a01c138b2917c07e65bb531a889891...      19339077
1        0x00120fdeb1a37a89bf0b6ff6a725827e532e20132e00...      19339085
2        0x002922ee2df0eec3144d1f59d18c5d66780bb171bd67...      19339027
3        0x0066758e9decf152a045d6ac223cc39b9c1610a6340f...      19339031
4        0x006731de31cfd54e3e36fb94f8e0b15d4d9424b44b51...      19339020
...                                                    ...           ...
8306881  0xff198731dda378ef8d5e7c4da11e49dc99bd9004015a...      19557274
8306882  0xff3089907407feeb49150dbd0b0545f2305a9bbcbed6...      19557278
8306883  0xff349681e982901d4767ca14cce7adc400eae3717472...      19557275
8306884  0xffa0dd4fca6094e0d853a2e83bdfda43509969e2c546...      19557278
8306885  0xffe6532e94a3e4cf88848c07da08d44b35b8b10b80a2...      19557275

         builder_reward  ethusd_price  \
0                     0           NaN
1                     0           NaN
2                     0           NaN
3                     0           NaN
4                     0           NaN
...                 ...           ...
8306881               0           NaN
8306882               0           NaN
8306883               0           NaN
8306884               0           NaN
8306885               0           NaN

                                       from_address  \
0        0x3170ae5782748d3f464e719a9370d41500092c09
1        0xf368cf3c3a556cd3dbde26e93f7feb8f2d0ead87
2        0xc5a93444cc4da6efb9e6fc6e5d3cb55a53b52396
3        0xfca72f215c33ee3121af6818e4e8522e6383b49a
4        0x8814fec49bfa38c49a93a8c0c431394b4008f106
...                                             ...
8306881  0x808d0aee8db7e7c74faf4b264333afe8c9ccdba4
8306882  0xc76ebabf2389cea2c57559f4896e1006faa7b94f
8306883  0x6ece176277feccfab599e6833d900d9a6e27f427
8306884  0x58edf78281334335effa23101bbe3371b6a36a51
8306885  0x547ac08a9adb39f16af4be456b3ccbef0ff833eb

                                         to_address      block_datetime
0        0x15e6e0d4ebeac120f9a97e71faa6a0235b85ed12 2024-03-01 08:17:11
1        0x305eb7c6e3491956da42d0062f04bbc9381d9c77 2024-03-01 08:18:47
2        0x257af24f95f42162f5866e93028aa8940d5b288e 2024-03-01 08:07:11
3        0x0ec68c5b10f21effb74f2a5c61dfe6b08c0db6cb 2024-03-01 08:07:59
4        0xdac17f958d2ee523a2206206994597c13d831ec7 2024-03-01 08:05:47
...                                             ...                 ...
8306881  0xa3a9dc95489ccefb93c506963b105bc65b288735 2024-03-31 23:57:11
8306882  0xf3de3c0d654fda23dad170f0f320a92172509127 2024-03-31 23:57:59
8306883  0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad 2024-03-31 23:57:23
8306884  0x8b9b95292f890df47fff5ac9cbe93d5fc242bd51 2024-03-31 23:57:59
8306885  0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad 2024-03-31 23:57:23

[8306886 rows x 7 columns]>

print(dft.columns)

In [38]:
import matplotlib.pyplot as plt
import numpy as np

#summarize dft's builder rewards by to_address = "0xb0000000aa4f00af1200c8b2befb6300853f0069"
jit_dt = dft_withdatetime[dft_withdatetime['to_address'] == "0xb0000000aa4f00af1200c8b2befb6300853f0069"]
jit_BP = jit_dt['builder_reward'].sum()
print(f"Total Builder Rewards for JIT: {jit_BP}")

print(jit_dt.shape[0])
# Group by 'from_address' and count the records for each group
record_counts = jit_dt.groupby('from_address').size().reset_index(name='record_count')
bp_subtotal = jit_dt.groupby('from_address')['builder_reward'].sum().reset_index(name='BP_subtotal')
bp_subtotal['BP_subtotal'] = bp_subtotal['BP_subtotal'].round(4)


# Print the result
print(record_counts)
print(bp_subtotal)
jit_non_zero_dt = jit_dt[jit_dt['builder_reward'] > 0]
jit_non_zero_dt = jit_non_zero_dt[jit_non_zero_dt['from_address']=="0xefae7395c20eb28f4f9810e8688a5ea79e1e24ed"]
print(jit_non_zero_dt["builder_reward"].sum())
# print(jit_non_zero_dt["from_address"].unique())

Total Builder Rewards for JIT: 13.738386237669292
232
                                 from_address  record_count
0  0x87821c430310e33ad202a20966f340520651b05b            42
1  0x94bf3e48c611c81a28eac84537d247b40c3eb1b7            74
2  0xb25adfa5a81f99f11cfe50468c5fc799696fe79e            42
3  0xefae7395c20eb28f4f9810e8688a5ea79e1e24ed            74
                                 from_address  BP_subtotal
0  0x87821c430310e33ad202a20966f340520651b05b            0
1  0x94bf3e48c611c81a28eac84537d247b40c3eb1b7            0
2  0xb25adfa5a81f99f11cfe50468c5fc799696fe79e            0
3  0xefae7395c20eb28f4f9810e8688a5ea79e1e24ed           13
13.461300424956624

In [ ]:
#plot jit_dt's builder rewards by from_address

# Assuming `df` is your DataFrame and you want to plot `ethusd_price` vs `block_number`
plt.figure(figsize=(10, 6))
jit_dt['block_date'] = jit_dt['block_datetime'].dt.date
jit_dt['ln_builder_reward'] = np.log(jit_dt['builder_reward'])




for address in jit_dt['from_address'].unique():
    subset = jit_dt[jit_dt['from_address'] == address]
    plt.scatter(subset['block_date'], subset['ln_builder_reward'], label=address, alpha=0.5)

plt.xlabel('Block Date')
plt.ylabel('ln(Builder Reward)')
plt.title('Scatter Plot by From Address (Date-based, Logarithmic Builder Reward)')
plt.legend(title='From Address', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.xticks(rotation=45)
plt.show()

In [3]:
print(len(dfe["to_address"].unique()))
print(len(dfe["from_address"].unique()))
print(len(dft["to_address"].unique()))
print(len(dft["from_address"].unique()))

5842
7802
1682447
2760243

In [4]:


def get_top_rewards(df, address_type, output_file):
    """
    Processes rewards data to return the top 50 addresses and optionally saves it to a CSV file.
    
    Args:
    df (pd.DataFrame): DataFrame containing the transaction data.
    address_type (str): 'to_address' or 'from_address' for reward aggregation.
    
    Returns:
    pd.DataFrame: DataFrame holding the top 50 addresses sorted by rewards.
    """
    if address_type not in ['to_address', 'from_address']:
        raise ValueError("address_type must be 'to_address' or 'from_address'")

    subtotal_df = df.groupby(address_type)["builder_reward"].sum().reset_index()
    subtotal_df["builder_reward"] = subtotal_df["builder_reward"].astype(float)
    sorted_df = subtotal_df.sort_values("builder_reward", ascending=False).head(50)

    if output_file:
        sorted_df.to_csv(output_file, index=False)
        print(f"DataFrame exported to {output_file}")

    return sorted_df

In [5]:
top50_subtotal_from_dft = get_top_rewards(dft, 'from_address', 'top_50_titan_rewards_from.csv')
top50_subtotal_to_dft = get_top_rewards(dft, 'to_address', 'top_50_titan_rewards_to.csv')
top50_subtotal_from_dfe = get_top_rewards(dfe, 'from_address', 'top_50_eigenphi_rewards_from.csv')   
top50_subtotal_to_dfe = get_top_rewards(dfe, 'to_address', 'top_50_eigenphi_rewards_to.csv')

DataFrame exported to top_50_titan_rewards_from.csv
DataFrame exported to top_50_titan_rewards_to.csv
DataFrame exported to top_50_eigenphi_rewards_from.csv
DataFrame exported to top_50_eigenphi_rewards_to.csv

In [6]:
import pandas as pd

def find_common_addresses(df1, df2, address_column, output_file):
    """
    Finds common addresses between two datasets and saves the result to a CSV file.

    Args:
        df1 (pd.DataFrame): First dataset containing addresses.
        df2 (pd.DataFrame): Second dataset containing addresses.
        address_column (str): The name of the column to merge on ('from_address' or 'to_address').
        output_file (str): The filename for the output CSV.
    """
    # Merging on specified address column
    common_addresses = pd.merge(df1, df2, on=address_column)
    print(f"Common {address_column} between datasets:")
    # print(common_addresses)

    # Save to CSV
    common_addresses.to_csv(output_file, index=False)
    # print(f"DataFrame exported to {output_file}")

# Assuming subtotal_from_dft, subtotal_from_dfe, subtotal_to_dft, and subtotal_to_dfe are already defined:

# Find common from_addresses between EigenPhi and Titan
find_common_addresses(top50_subtotal_from_dft, top50_subtotal_from_dfe, 'from_address', 'common_from_addresses.csv')

# Find common to_addresses between EigenPhi and Titan
find_common_addresses(top50_subtotal_to_dft, top50_subtotal_to_dfe, 'to_address', 'common_to_addresses.csv')

Common from_address between datasets:
Common to_address between datasets:

In [7]:
# find uncommon addresses between EigenPhi and Titan
import pandas as pd

def find_uncommon_addresses(df1, df2, address_column, eigenphi_output_file, titan_output_file):
    """
    Finds uncommon addresses between two datasets and saves the result to a CSV file.

    Args:
        df1 (pd.DataFrame): First dataset containing addresses.
        df2 (pd.DataFrame): Second dataset containing addresses.
        address_column (str): The name of the column to merge on ('from_address' or 'to_address').
        output_file (str): The filename for the output CSV.
    """
    # Assuming subtotal_from_dft and subtotal_from_dfe are already defined DataFrame from previous steps:
    # Perform an outer join merge
    all_addresses = pd.merge(df1, df2, on=address_column, how='outer', indicator=True)
    
    # Filter results to get non-overlapping addresses
    uncommon_addresses = all_addresses[all_addresses['_merge'] != 'both']
    
    
    # pd.merge adds a column '_merge' that indicates from which DataFrame the rows come from:
    # "left_only" for EigenPhi, "right_only" for Titan, and "both" for common.

    # Optionally, split into two DataFrames depending on source
    uncommon_eigenphi = uncommon_addresses[uncommon_addresses['_merge'] == 'left_only']
    uncommon_titan = uncommon_addresses[uncommon_addresses['_merge'] == 'right_only']

    uncommon_eigenphi[[address_column]].to_csv(eigenphi_output_file, index=False)
    uncommon_titan[[address_column]].to_csv(titan_output_file, index=False)
    
    
# Find uncommon from_addresses between EigenPhi and Titan
find_uncommon_addresses(top50_subtotal_from_dfe, top50_subtotal_from_dft, 'from_address', 'uncommon_from_addresses_eigenphi.csv', 'uncommon_from_addresses_titan.csv')


# Find uncommon to_addresses between EigenPhi and Titan
find_uncommon_addresses(top50_subtotal_to_dfe, top50_subtotal_to_dft, 'to_address', 'uncommon_to_addresses_eigenphi.csv', 'uncommon_to_addresses_titan.csv')

In [9]:
address_list = ["0x6f1cdbbb4d53d226cf4b917bf768b94acbab6168",
"0xc6fecdf760af24095cded954de7d81ab49f8bae1",
"0x98c3d3183c4b8a650614ad179a1a98be0a8d6b8e",
"0xfbeedcfe378866dab6abbafd8b2986f5c1768737",
"0x73a8a6f5d9762ea5f1de193ec19cdf476c7e86b1",
"0x0000000000a84d1a9b0063a910315c7ffa9cd248",
"0x0000e0ca771e21bd00057f54a68c30d400000000",
"0x24902aa0cf0000a08c0ea0b003b0c0bf600000e0",
"0x53facee52e897740b140f5304e9cd9dc6238d735",
"0xd4674001a9a66b31f3c09e3b1fec465404c83d35",]

contract_df = dft[dft["to_address"].isin(address_list)]

contract_df = contract_df.groupby("to_address").apply(lambda x: x.nlargest(50, "builder_reward")).reset_index(drop=True)

contract_df.to_csv("left.csv", index=False)

/var/folders/mf/lxpn1ltx7t97r1v1k92vly1w0000gn/T/ipykernel_13950/1382655531.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  contract_df = contract_df.groupby("to_address").apply(lambda x: x.nlargest(50, "builder_reward")).reset_index(drop=True)